<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speakeasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/header.ejs') %> 
    
  </head>
  <body>
    <!-- <div class="mobile-container"> -->
      <header>
        <div class="topnav">
          <%- include('../partials/navBar.ejs') %>
        </div>
        
      </header>
      <main>
        <div id="searchForDrink">
          <h2>Look For a Drink!</h2></br>
          <div id="drinkForm">
            <form action="/menuRender/search" method="POST" >
            <input type="text" name="search" placeholder="Enter A Drink"></br>
            <button id="drinkSearchButton" type="submit">Take A Look</button>
            </form>
          </div>
        </div>
        <section id="savedMenu">
          <% if (typeof(databaseResults) !== 'undefined') { %>
            <% databaseResults.map(obj => { %>
              <div class="DBItems">
                <img class="drinkImage" src="<%- obj.a_img %>" alt="">
                <h2><%= obj.a_drink %></h2>
                <p> <%= obj.a_instructions %> </p>
                <form action="/drink/<%= obj.a_drink %>?_method=delete" method="POST">
                  <button id="removeDrinkButton" type="submit">Remove</button>
                </form>
              </div>
            <% }) %>
          <% } %>
        </section>
      <form action="/publicView" method="GET">
      <button id="saveDrinkMenuButton">Save</button>
      </form>
    </main>

  <footer>
      <!-- replace this with a partial? -->
  </footer>
  <script src="/js/index.js"></script>
</body>
</html>
